.autocomplete {
  color: black;

  .text-field {
    width: 100%;
  }

  .MuiAutocomplete-endAdornment {
    top: 0;
    right: 0;

    .MuiAutocomplete-popupIndicator {
      padding: 0;
    }
  }
}
