.body-layout {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  padding-top: 7em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #273742;

  h1 {
    font-size: 3.86rem;
    color: white;
  }

  p {
    font-size: 1.25rem;
    color: #13aa4f;
    margin-bottom: 0;
    line-height: 120%;
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 6.87rem;
    }

    p {
      font-size: 1.68rem;
    }
  }
}
